
<mat-card class="background-card">
    <mat-card-content>
        <mat-card class="card-description">
        <mat-card-content>
        <Section>
            <h2 id="header-description">{{customerCode}}-{{contractCode}}-{{NPSRCode}}-{{productCode}}-{{information}} </h2>
        
        </Section>
        </mat-card-content>
        </mat-card>
        <Section>
        <app-aditional-information></app-aditional-information>
        <app-customer-types></app-customer-types>
        <app-contract-types (ngModelChange)="printscreen()"></app-contract-types>
        <app-products></app-products>
        <app-warranties></app-warranties>
        </Section>
        
    </mat-card-content>


</mat-card>