
<mat-card >
    <mat-card-content>
        <h2 >Result</h2>
        <section>
            <mat-slide-toggle [color]="red" [checked]="webex" (change)="emitSelection('webex')" >
                webex
            </mat-slide-toggle>
        </section>
        <section>
            <mat-slide-toggle [color]="red" [checked]="specialist" (change)="emitSelection('specialist')" >
                specialist
            </mat-slide-toggle>
        </section>
       
        <section >
            <mat-slide-toggle  [color]="red" [checked]="npsr" (change)="emitSelection('npsr')" >
              NPSR
            </mat-slide-toggle>
        </section>

        <section *ngIf="isNPSR()">
        <label>Color:</label>
        <mat-radio-group [(ngModel)]="npsrSelected" (ngModelChange)="emitInformation($event)">
        <mat-radio-button *ngFor="let npsrType of npsrTypes" [value]="npsrType">
            {{npsrType}}
         </mat-radio-button>
         </mat-radio-group>
        </section>

    </mat-card-content>
    
    </mat-card>
