
}
/**************************TAG SELECTORS*********************************/
body {
  background-color: #EAF6F6
}

hr {
  border-top-style: dotted;
  border-top-width: 7px;
  height: 0px;
  width: 10%;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none;
}

h1 {
  color: #66BFBF;
}

h2 {
  color: #66BFBF;
}
h3 {
  color: #66BFBF;

}
/*Pseudo classes selector:pseudo-class*/
img:hover{
  background-color: gold;

}
/**************************CLASS SELECTORS*********************************/
.bacon{

  border-radius: 70%;
  border-color:#b04d4d
  padding:5px;
  border: 2 px solid #ddd;
  max-width: 100%;
  height:auto;

}
.centered{

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.circular{
  border-radius: 100%;
}
.link:hover{
  color:hotpink;
}
.link:active{
  color:blue,
}
.link:visited{
  color:green;
}
/**************************ID SELECTORS only in some cases*********************************/
#pig{

  border-radius: 50%;
  background-color: #e1b28b;
  padding: 5px;
}
