<mat-grid-list cols="2">
    <mat-grid-tile>
    <mat-card class="CardInputs">       
        <form class="TemplateForm">
        <mat-form-field class="Question">
            <input matInput placeholder="Question" ngModel name="quest" (ngModelChange)="emitQuestion($event)">
        </mat-form-field>
      
        <mat-form-field class="Environment">
            <textarea matInput placeholder="Environment" rows="3"  ngModel name="env" (ngModelChange)="emitEnvironment($event)" ></textarea>
        </mat-form-field>

        <mat-form-field class="Answer">
            <textarea matInput placeholder="Answer" rows="10" ngModel name="ans" (ngModelChange)="emitAnswer($event)"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-select [(ngModel)]="selectedValue" name="ns" (ngModelChange)="emitNextSteps($event)">
                        
                        <mat-option *ngFor="let nextStep of nextSteps" [value]="nextStep">
                            {{nextStep.nextSteps}}
                        </mat-option>
            </mat-select>
        </mat-form-field>
        </form>
    </mat-card>
</mat-grid-tile>
<mat-divider [vertical]="true">o</mat-divider>
<mat-grid-tile>
  <app-auto-template></app-auto-template>
</mat-grid-tile>
</mat-grid-list>