    <div class="CardInputs">
    <mat-card class="CardInputs">       
        <form class="TemplateForm" #f="ngForm" (ngSubmit)="onSubmit(f)" >
        <mat-form-field class="Question">
            <input matInput placeholder="Question" ngModel name="quest" #_Quest>
        </mat-form-field>
      
        <mat-form-field class="Environment">
            <input matInput placeholder="Environment" ngModel name="env" #_Env>
        </mat-form-field>

        <mat-form-field class="Answer">
            <textarea matInput placeholder="Answer" rows="5" ngModel name="ans" #_Ans></textarea>
        </mat-form-field>
        </form>

      <button mat-raised-button color="primary" (click)="setContent(_Quest.value, _Env.value, _Ans,_all)"> Copy</button>
    </mat-card>

