<!--
<mat-card>
    <mat-card-content>
        <h2 >Slider configuration</h2>

        <!--

        <section >
            <mat-checkbox  [(ngModel)]="checked">Checked</mat-checkbox>
        </section>

        <section >
            <mat-checkbox  [(ngModel)]="disabled">Disabled</mat-checkbox>
        </section>
       
    </mat-card-content>
</mat-card>
-->
<mat-card >
    <mat-card-content>
        <h2 >Result</h2>
        <section>
            <mat-slide-toggle [color]="red" [checked]="webex" (change)="webex=!webex">
                webex
            </mat-slide-toggle>
        </section>
        <section>
            <mat-slide-toggle [color]="red" [checked]="specialist" (change)="specialist=!specialist">
                specialist
            </mat-slide-toggle>
        </section>
       
        <section >
            <mat-slide-toggle  [color]="red" [checked]="npsr" (change)="npsr=!npsr" >
              NPSR
            </mat-slide-toggle>
        </section>

        <section *ngIf="npsr">
        <label>Color:</label>
        <mat-radio-group [(ngModel)]="npsrSelected">
        <mat-radio-button *ngFor="let npsrType of npsrTypes" [value]="npsrType">
            {{npsrType}}
         </mat-radio-button>
         </mat-radio-group>
</section>

    </mat-card-content>
    
    </mat-card>
