

/**************************TAG SELECTORS*********************************/
body {
  margin: 0px;
font-family: 'Montserrat', sans-serif;
background-color: #D7E4FC;
}

hr {
  border-top-style: inset;
  border-top-width: 7px;
  height: 0px;
  width: 10%;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none;
}

h1 {
  margin: 50px auto 0px;

/*font-family: 'Itim', cursive;*/

font-family: 'Comfortaa', cursive;
/*HIGHLY RECOMMENDED TO USE FONT'SIZE AS REM 1 REM+*/
z-index:999;
font-size: 4rem;
height: 100%;

}
h2{
z-index:999;
  font-family: 'Raleway', cursive;
font-size: 1.5rem;
color:#845EC2;
line-height: 2;
}
h3{

  font-family: 'Raleway', cursive;
color:#FF6F91;
}
p {
  margin-top: 0px;
  margin-bottom: 0px;
  color:#2f2e41;
  line-height: 2;
}


div {

}
a:link
{
  color: #D65DB1;
}

/**************************CLASS SELECTORS*********************************/
.heading {
  background-color: #63707E;
}
.top-container{
background-color:#4990e3;
background-image: linear-gradient(to right bottom, #845ec2, #a55dbd, #c15db5, #d95fab, #ec64a0, #f76e91, #fd7b84, #ff8a7a, #ffa26e, #ffbd66, #ffda65, #f9f871);
text-align: center;
/*added of angela */
position: relative;
padding-top: 50px;
color:snow;
padding-bottom: 50px;

}

.header-img{

Position:relative;

bottom:50px;
right: auto;
left:auto;
width: 70%;
text-indent: -9999px;
}



.middle-container{
  background-color: snow;
  overflow: auto;
  position: relative;

}
.bottom-container{
  background-color: #845ec2;
;

}


.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.img-hello{
  display: block;
  right: auto;
  left: auto;
}
.circular {
  border-radius: 100%;
}

.image-cropper{
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius:50%;

}

.cropper{
  width: 367px;
  height: 332px;
}
.profile-pic {
  display: block;
margin: 0 auto;
margin-left: 5%;
width: auto;
height: 130%

}
.profile{
  margin-top:14px;
}
.grid-container{
  margin: 2% 4%;
  display: grid;
  grid-column-gap:15px;

  grid-template-columns: repeat(3,1fr);
grid-row-gap: 30px;
}


.skill-column-1{
  display: block;

grid-column-start: 1;
grid-column-end: 1;
}
.skill-column-2{
  display: block;

grid-column-start: 2;
grid-column-end: 4;
}
.skill-column-3{
  display: block;

grid-column-start: 1;
grid-column-end: 3;
}
.skill-column-4{
  display: block;

grid-column-start: 3;
grid-column-end:3;
}
.contact-me{
  background-color: #F9F871;
    padding-bottom: 28px;
}

.footer-link:hover {
  color: #F9F871;
}

.footer-link:active {
  color: #F9F871,
}

.footer-link:visited {
  color: #FF9671;
}

.svg-img-container{
  position: absolute;
}

.one-edge-bottom-shadow {

	        box-shadow: 0 5px 6px -6px black;
}
/**************************ID SELECTORS only in some cases*********************************/
#h2-header{
  color:snow;
}
