<mat-form-field>

    <mat-label>Contract Type</mat-label>
    <!-- You take a selected value from model--><!-- productsComponent.loadProducts(contracType)) -->
    <mat-select [ngModel]="selectedValue" name="contracType" (ngModelChange)="loadProducts($event)"> <!-- (selectionChange)="" [products]="loadProducts(contracType)" name="productsComponent"-->
        <!-- According to customer types loaded the selector showa the description and 
    when you select the selected value is the code-->
        <mat-option *ngFor="let contractType of contractTypes" [value]="contractType">
            {{contractType.contractDescription}}
        </mat-option>
    </mat-select>


</mat-form-field>
<app-products ></app-products>
