.hero {
	height: 50vh;
	background: linear-gradient(45deg,#003E7E,#074255,
	 #8C111E,#BB2332,#F68A33) 0 0 / 1000% no-repeat, url("../../../assets/RA-Logo-Web/2019_RA_Logo_Bug-LeftText_white.png") 
	 0 0 / 
	 cover no-repeat;
	-webkit-animation: gradientAnimation 20s ease infinite;
	animation: gradientAnimation 20s ease infinite;
}
@-webkit-keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}
@keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}
h1 {
	position: relative;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #fff;
	font : normal 600 50px/1 'Barlow', sans-serif;
	text-align: center;
	white-space: nowrap;
}
h1 span {
	display: block;
	margin-top: 2em;
	font-size: 3vw;
	font-weight: 300;
}
/*ID*/

#title-description{

	font-size: 8vw;
}